

<h2><%= @movie["title"] %></h2>

<a href="/movies/<%= @movie["id"] %>/delete">Delete</a>

<form action="/movies/<%= @movie["id"] %>" method="post" class="addNew">

<label>
    Title:
    <input type="text" name="title" value="<%= @movie['title'] %>">
</label>
<br>

<label>
    Date:
    <input type="date" name="release_date"  value="<%= @movie["release_date"] %>">
</label>
<br>

<label>
    Runtime:
    <input type="text" name="runtime"  value="<%= @movie['runtime'] %>">
</label>
<br>

<label>
    Score:
    <input type="number" step="0.1" name="score"  value="<%= @movie['score'] %>">
</label>
<br>

<label>
    Overview:
    <textarea name="overview" cols="30" rows="5"><%= @movie['overview'] %></textarea>
</label>
<br>

<label>
    Poster URL:
    <textarea name="poster_url" cols="30" rows="5"><%= @movie['poster_url'] %></textarea>
</label>
<br>

<button>Update</button>
</form>