<h2>Edit details for <%= @artist.name %></h2>
<form action="/artists/<%= @artist.id %>/edit" method="post">
  <table>
    <tr>
      <td><label for="name">Name</label></td>
      <td><input id="name" type="text" name="name" value="<%= @artist.name %>"></td>
    </tr>
    <tr>
      <td><label for="website">Website</label></td>
      <td><input id="website" type="text" name="website" value="<%= @artist.website %>"></td>
    </tr>
    <tr>
      <td><label for="image_url">Image URL</label></td>
      <td><input id="image_url" type="text" name="image_url" value="<%= @artist.image_url %>"></td>
    </tr>
    </table>
  <button>Update</button>
</form>
