
<h3>Editing <%=@movie.name  %></h3>

<%= form_with model: @movie, local: true do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>

    <%= f.label :release_year %>
    <%= f.text_field :release_year %>
    <br>

    <%= f.label :director %>
    <%= f.text_field :director %>
    <br>

    <%= f.label :starring %>
    <%= f.text_field :starring %>
    <br>

    <%= f.label :running_time %>
    <%= f.text_field :running_time %>
    <br>

    <%= f.label :image_url %>
    <%= f.text_field :image_url %>
    <br>

    <%= f.submit %>


<% end %>
