<!DOCTYPE html>
<html>
  <head>
    <title>Games On Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <header>
    <nav>
      <h1>Games on Rails</h1>
      <hr>
      <a href="/">Home</a>
      |
      <a href="/magic-8-ball">Magic 8 Ball</a>
      |
      <a href="/secret-number">Secret Number</a>
      |
      <a href="/rock-paper-scissors">Rock Paper Scissors</a>
      <hr>
    </nav>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
  <hr>
  &copy; Games on Rails 2022
  </footer>
  </body>
</html>
