<h2>
<em><%= @movie.title %></em>,
<%= @movie.year %> film
</h2>
<h3>
by <%= link_to @movie.director.name, director_path(@movie.director.id)%>
</h3>

<%= link_to "Edit", edit_movie_path(@movie.id) %>


<%= link_to "Delete", movie_path(@movie.id), method: 'delete' %>


<p>
<strong>Genre:</strong>
<%= @movie.genre%>
</p>

<%= image_tag @movie.image, alt: @movie.title, class: "movie_image" %>