<!DOCTYPE html>
<html>
  <head>
    <title>TheCompanyV2Db</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head> <!-- closes head-->

  <body>

    <header id="main_header">
      <nav id="nav_container">
        <h2 id="main_header">The Company <hr id="main_header_hr"></h2>
        
        <%= link_to '| Indentured |', employees_path, class: "nav_link"  %>
        
        <%= link_to '| Register Indentured |', new_employee_path, class: "nav_link"  %>
        
        <%= link_to 'Home', root_path, class: "nav_link", id: "home_link" %>
                
        <%= link_to '| Enshrine Department |', new_department_path, class: "nav_link"  %>
        
        <%= link_to '| Departments |', departments_path, class: "nav_link"  %>
        

      </nav>

      <div id="skyline_container">
      
        <%= image_tag 'buildings.png', id: "building_skyline" %>

      </div>      
    <hr>

    </header> <!-- closes #main_header -->

    <%= yield %>

    <footer id="main_footer">
      <hr>
       &copy;1600. The Company
    </footer> <!-- closes #main_footer -->

  </body> <!-- closes body -->

</html>
