
<h3>
    Editing <%=@movie.name %>
</h3>

<form action="/movie/<%=@movie.id %>" method="post">

    <label>
        Name:
        <input type="text" name="name" value="<%=@movie.name %>">
    </label>
    <br>

    <label>
        Release Year:
        <input type="text" name="release_year" value="<%=@movie.release_year %>">
    </label>
    <br>

    <label>
        Director:
        <input type="text" name="director" value="<%=@movie.director %>">
    </label>
    <br>

    <label>
        Starring:
        <input type="text" name="starring" value="<%=@movie.starring %>">
    </label>
    <br>

    <label>
        Country:
        <input type="text" name="country" value="<%=@movie.country %>">
    </label>
    <br>

    <label>
        Running time:
        <input type="text" name="running_time" value="<%=@movie.running_time %>">
    </label>
    <br>

    <label>
        Watch or not (1 for yes, 0 for no):
        <input type="text" name="watch_or_not" value="<%=@movie.watch_or_not %>">
    </label>
    <br>

    <label>
        Image URL:
        <input type="text" name="image_url" value="<%=@movie.image_url %>">
    </label>
    <br>

    <label>
        Genre:

        <select name="genre_id">
            <% Genre.all.each do |item| %>

                <% if item.id == @movie.genre.id %>

                    <option value="<%= item.id %>" selected>
                    <%= item.name %>
                    </option>

                <% else %>

                    <option value="<%= item.id %>">
                    <%= item.name %>
                    </option>

                <% end %>


            <% end %>
        </select>
    </label>
    <br>



    <button>Click me to update</button>

</form>




