
<h2>Editing<%= @album.name %></h2>

<%= form_with model: @album, local: true do |f| %>

   <%= f.label :name %>
   <%= f.text_field :name %>
   <br>
  
   <%= f.label :released %>
   <%= f.text_field :released %>
   <br>

   <%= f.label :genre %>
   <%= f.text_field :genre %>
   <br>

   <%= f.label :length %>
   <%= f.text_field :length %>
   <br>

   <%= f.label :image_url %>
   <%= f.text_field :image_url %>
   <br>

   <%= f.submit 'Update Album' %>
   


<% end %>