<!DOCTYPE html>
<html>
  <head>
    <title>D22CountriesHm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav>
      <h1>Tour of the World</h1>
      <a href="/">Home</a>
      |
     <%= link_to 'All Countries', '/countries' %>
    </nav>


    <%= yield %>
  </body>
</html>
