

<h3>
 Details for <%= @armor['name'] %>
 </h3>

<a href="/armors/<%= @armor['id'] %>/edit">Edit</a>

<a href="/armors/<%= @armor['id'] %>/delete">Delete</a>

<p>
   <strong>Users:</strong>
   <%= @armor['users'] %>
</p>

 <p>
   <strong>Appearances:</strong>
   <%= @armor['appearances'] %>
</p>

 <p>
   <strong>Weapons:</strong>
   <%= @armor['weapons'] %>
</p>

 <p>
   <strong>Special_features:</strong>
   <%= @armor['special_features'] %>

</p>


<img class="armor_image" src="<%= @armor['image_url'] %>" alt="<%= @armor['name'] %>">

