<!DOCTYPE html>
<html>
  <head>
    <title>CRUD Trees</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

<nav>
<h1>Trees</h1>
<a href="/">Home</a>
|
<a href="/trees">Trees</a>
</nav>

  <body>
    <%= yield %>
  </body>

  <footer>
  &copy; Lorax
  </footer>
</html>
